	<div id="verho">
		<div id="popup">
			<p> moi oon verho</p>
			<ul>
				<li ng-repeat="sivu in sivuVaihtoehdot">{{sivu.id}}-{{sivu.nimi}}
					
				</li>

			</ul>
			<select ng-model="merkinMalli" ng-change="kuva=merkinMalli" >
				<option ng-repeat="sivu in merkit" value="{{sivu}}" ng-selected="sivu == valittuMerkki.icon">{{sivu}}
					
				</option>
			</select>{{kuva}}
			<img ng-init="koko = 'l'; kuva = 'rocket'; vari = 'b0b'; " src="https://api.tiles.mapbox.com/v3/marker/pin-{{koko}}-{{kuva}}+{{vari}}@2x.png"></img>

			<input class="color" ng-model="vari" value="{{vari}}" />
			<input type="button" style="font-size:28px" value="Sulje" ng-click="verhoHide()" />

		</div>
	</div>
	<div id="noty"></div>{{siirto}}
	<div id="etaisyys" ng-init="lkm = 0;etaisyys = 0">{{lkm}} | {{etaisyys}} m</div>
	<div id="map"></div>

	