<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hallinta Luontopolut</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/app_hd.css"/>
  <link rel="stylesheet" href="css/leaflet.css" />
  <link rel="stylesheet" href="css/leaflet-usermarker.css" />
  <link rel="stylesheet" href="bower_components/marker-cluster/MarkerCluster.Default.css" />
  
</head>
<body ng-controller="uberCtrl">

  <div class="navimenu" ng-controller="naviCtrl">
    <div ng-click="goTo('/etusivu')">Reitit</div>
    <div ng-click="goTo('/map')">Kartta</div>
    <div ng-click="goTo('/newPage')">Sivu</div>
  </div>

  <div id="noty" style="position:fixed;top:0px"></div>


  <div ng-view></div>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
	
  
  <script src="js/leaflet.js"></script>
  <script src="bower_components/marker-cluster/leaflet.markercluster.js"></script>


	
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular/angular-touch.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>


  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  
  <script src="js/controllers.js"></script>
  <script src="js/uberCtrl.js"></script>

  <script src="js/mapCtrl.js"></script>
  <script src="js/mkPageCtrl.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/leaflet.js"></script>
 
</body>
</html>
